<%= form_with(model: danhmuctacgium) do |form| %>
  <% if danhmuctacgium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(danhmuctacgium.errors.count, "error") %> prohibited this danhmuctacgium from being saved:</h2>

      <ul>
        <% danhmuctacgium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mtg %>
    <%= form.text_field :mtg %>
  </div>

  <div class="field">
    <%= form.label :ten_tacgia %>
    <%= form.text_field :ten_tacgia %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :ghichu %>
    <%= form.text_field :ghichu %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
