<p id="notice"><%= notice %></p>

<p>
  <strong>Mtg:</strong>
  <%= @danhmuctacgium.mtg %>
</p>

<p>
  <strong>Ten tacgia:</strong>
  <%= @danhmuctacgium.ten_tacgia %>
</p>

<p>
  <strong>Website:</strong>
  <%= @danhmuctacgium.website %>
</p>

<p>
  <strong>Ghichu:</strong>
  <%= @danhmuctacgium.ghichu %>
</p>

<%= link_to 'Edit', edit_danhmuctacgium_path(@danhmuctacgium) %> |
<%= link_to 'Back', danhmuctacgia_path %>
