<p id="notice"><%= notice %></p>

<p>
  <strong>Ma sach:</strong>
  <%= @danhmucsach.ma_sach %>
</p>

<p>
  <strong>Ten sach:</strong>
  <%= @danhmucsach.ten_sach %>
</p>

<p>
  <strong>Mtg:</strong>
  <%= @danhmucsach.mtg %>
</p>

<p>
  <strong>Mtl:</strong>
  <%= @danhmucsach.mtl %>
</p>

<p>
  <strong>Manxb:</strong>
  <%= @danhmucsach.maNXB %>
</p>

<p>
  <strong>Nxb:</strong>
  <%= @danhmucsach.nxb %>
</p>

<%= link_to 'Edit', edit_danhmucsach_path(@danhmucsach) %> |
<%= link_to 'Back', danhmucsaches_path %>
