<p id="notice"><%= notice %></p>

<p>
  <strong>Manxb:</strong>
  <%= @nhaxuatban.maNXB %>
</p>

<p>
  <strong>Ten nxb:</strong>
  <%= @nhaxuatban.ten_NXB %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @nhaxuatban.diachi %>
</p>

<p>
  <strong>Email:</strong>
  <%= @nhaxuatban.email %>
</p>

<p>
  <strong>Thongtin:</strong>
  <%= @nhaxuatban.thongtin %>
</p>

<%= link_to 'Edit', edit_nhaxuatban_path(@nhaxuatban) %> |
<%= link_to 'Back', nhaxuatbans_path %>
